In [1]:
import pandas as pd

def pdb_to_df(file_name):
    df = pd.DataFrame(columns = ['Protein_Num','Protein_Name','Cite_Name','x_coord','y_coord','z_coord'])
    with open(file_name, 'r') as file:
        index = 0
        for line in file.readlines():
            line = line.split(' ')
            if line[0] == 'ATOM':
                info = []
                for i in line:
                    if i != '':
                        info.append(i)
                df.loc[index, 'Protein_Num'] = int(info[4])
                df.loc[index, 'Protein_Name'] = info[3]
                df.loc[index, 'Cite_Name'] = info[2]
                df.loc[index, 'x_coord'] = float(info[5])
                df.loc[index, 'y_coord'] = float(info[6])
                df.loc[index, 'z_coord'] = float(info[7])
            index += 1
        df = df.dropna()
        df = df.drop(index = df[(df.Cite_Name == 'COM')].index.tolist())
        df = df.reset_index(drop = True)
    return df

pdb_df = pdb_to_df('999999.pdb')
pdb_df

    Protein_Num Protein_Name Cite_Name  x_coord  y_coord  z_coord
0             1            A       dbd  153.338  104.161    181.2
1             1            A       mbs  158.708  105.519  179.946
2             1            A       dbs  156.453  100.884  179.227
3             2            A       dbd   920.76  185.442   141.21
4             2            A       mbs  917.582  187.373  145.502
..          ...          ...       ...      ...      ...      ...
616         295            F        bs  791.263    100.0    100.0
617         296            F        bs  667.754    100.0    100.0
618         297            F        bs  416.272    100.0    100.0
619         298            F        bs  213.925    100.0    100.0
620         299            F        bs  240.468    100.0    100.0

[621 rows x 6 columns]

In [2]:
def dis_cal(x, y):
    return ((x[0]-y[0])**2+(x[1]-y[1])**2+(x[2]-y[2])**2)**0.5

dis_cal([1,1,1], [0,0,0])

1.7320508075688772

In [3]:
binding_info = pd.DataFrame(columns = ['Protein_Name_1','Cite_Name_1','Protein_Name_2','Cite_Name_2','sigma'])
binding_info.loc[0] = ['A','dbd','F','bs',1.0]
binding_info.loc[1] = ['A','mbs','A','mbs',1.0]
binding_info.loc[2] = ['A','dbs','A','dbs',1.0]

binding_info

  Protein_Name_1 Cite_Name_1 Protein_Name_2 Cite_Name_2  sigma
0              A         dbd              F          bs    1.0
1              A         mbs              A         mbs    1.0
2              A         dbs              A         dbs    1.0

In [4]:
def dis_df_gen(df, info):
    dis_df = pd.DataFrame(columns = ['Protein_Num_1','Protein_Name_1','Cite_Name_1','Protein_Num_2','Protein_Name_2','Cite_Name_2','sigma','dis'])
    index = 0
    for i in range(len(info)):
        df_temp_1 = df[df['Protein_Name'].isin([info.iloc[i, 0]])]
        df_1 = df_temp_1[df_temp_1['Cite_Name'].isin([info.iloc[i, 1]])]
        df_temp_2 = df[df['Protein_Name'].isin([info.iloc[i, 2]])]
        df_2 = df_temp_2[df_temp_2['Cite_Name'].isin([info.iloc[i, 3]])]
        df_1 = df_1.reset_index(drop = True)
        df_2 = df_2.reset_index(drop = True)
        print(df_1)
        print(df_2)
        
        for j in range(len(df_1)):
            for k in range(len(df_2)):
                dis_df.loc[index, 'Protein_Num_1'] = df_1.loc[j, 'Protein_Num']
                dis_df.loc[index, 'Protein_Name_1'] = df_1.loc[j, 'Protein_Name']
                dis_df.loc[index, 'Cite_Name_1'] = df_1.loc[j, 'Cite_Name']
                dis_df.loc[index, 'Protein_Num_2'] = df_2.loc[k, 'Protein_Num']
                dis_df.loc[index, 'Protein_Name_2'] = df_2.loc[k, 'Protein_Name']
                dis_df.loc[index, 'Cite_Name_2'] = df_2.loc[k, 'Cite_Name']
                dis_df.loc[index, 'sigma'] = info.loc[i, 'sigma']
                x = [df_1.loc[j, 'x_coord'], df_1.loc[j, 'y_coord'], df_1.loc[j, 'z_coord']]
                y = [df_2.loc[k, 'x_coord'], df_2.loc[k, 'y_coord'], df_2.loc[k, 'z_coord']]
                dis_df.loc[index, 'dis'] = dis_cal(x, y)
                index += 1

    return dis_df

dis_df = dis_df_gen(df = pdb_df, info = binding_info)

    Protein_Num Protein_Name Cite_Name  x_coord  y_coord  z_coord
0             1            A       dbd  153.338  104.161    181.2
1             2            A       dbd   920.76  185.442   141.21
2             3            A       dbd  890.711   76.038   56.269
3             4            A       dbd  746.734   99.035  100.101
4             5            A       dbd   984.99   99.315   99.308
..          ...          ...       ...      ...      ...      ...
174         194            A       dbd  231.573  117.389   101.96
175         195            A       dbd  675.418   99.898  100.931
176         197            A       dbd    97.38   78.468   55.042
177         198            A       dbd  171.425   72.303   79.117
178         199            A       dbd  109.352    94.17   58.219

[179 rows x 6 columns]
   Protein_Num Protein_Name Cite_Name  x_coord y_coord z_coord
0          202            F        bs  489.153   100.0   100.0
1          203            F        bs   172.94   100.0   100.0
2          204            F        bs  183.651   100.0   100.0
3          205            F        bs  861.158   100.0   100.0
4          206            F        bs  228.933   100.0   100.0
..         ...          ...       ...      ...     ...     ...
79         295            F        bs  791.263   100.0   100.0
80         296            F        bs  667.754   100.0   100.0
81         297            F        bs  416.272   100.0   100.0
82         298            F        bs  213.925   100.0   100.0
83         299            F        bs  240.468   100.0   100.0

[84 rows x 6 columns]
    Protein_Num Protein_Name Cite_Name  x_coord  y_coord  z_coord
0             1            A       mbs  158.708  105.519  179.946
1             2            A       mbs  917.582  187.373  145.502
2             3            A       mbs  891.006   70.408   56.952
3             4            A       mbs  743.517   94.355  100.137
4             5            A       mbs   979.82   99.347   96.959
..          ...          ...       ...      ...      ...      ...
174         194            A       mbs  233.037  111.917  101.555
175         195            A       mbs   673.73   100.38    95.53
176         197            A       mbs     99.8   83.509   54.054
177         198            A       mbs  171.765   73.409   84.677
178         199            A       mbs  105.487   90.968   55.563

[179 rows x 6 columns]
    Protein_Num Protein_Name Cite_Name  x_coord  y_coord  z_coord
0             1            A       mbs  158.708  105.519  179.946
1             2            A       mbs  917.582  187.373  145.502
2             3            A       mbs  891.006   70.408   56.952
3             4            A       mbs  743.517   94.355  100.137
4             5            A       mbs   979.82   99.347   96.959
..          ...          ...       ...      ...      ...      ...
174         194            A       mbs  233.037  111.917  101.555
175         195            A       mbs   673.73   100.38    95.53
176         197            A       mbs     99.8   83.509   54.054
177         198            A       mbs  171.765   73.409   84.677
178         199            A       mbs  105.487   90.968   55.563

[179 rows x 6 columns]
    Protein_Num Protein_Name Cite_Name  x_coord  y_coord  z_coord
0             1            A       dbs  156.453  100.884  179.227
1             2            A       dbs  920.501  190.248  142.294
2             3            A       dbs  895.034   73.682   56.586
3             4            A       dbs   744.01   97.786  104.019
4             5            A       dbs  983.513   95.753   96.231
..          ...          ...       ...      ...      ...      ...
174         194            A       dbs  236.149  115.843  102.961
175         195            A       dbs  677.609    97.39   97.291
176         197            A       dbs  100.738   80.382   58.107
177         198            A       dbs   170.25   76.725   80.963
178         199            A       dbs  107.922   89.804   60.012

[179 rows x 6 columns]
    Protein_Num Protein_Name Cite_Name  x_coord  y_coord  z_coord
0             1            A       dbs  156.453  100.884  179.227
1             2            A       dbs  920.501  190.248  142.294
2             3            A       dbs  895.034   73.682   56.586
3             4            A       dbs   744.01   97.786  104.019
4             5            A       dbs  983.513   95.753   96.231
..          ...          ...       ...      ...      ...      ...
174         194            A       dbs  236.149  115.843  102.961
175         195            A       dbs  677.609    97.39   97.291
176         197            A       dbs  100.738   80.382   58.107
177         198            A       dbs   170.25   76.725   80.963
178         199            A       dbs  107.922   89.804   60.012

[179 rows x 6 columns]

In [5]:
dis_df

,Protein_Num_1,Protein_Name_1,Cite_Name_1,Protein_Num_2,Protein_Name_2,Cite_Name_2,sigma,dis
0,1,A,dbd,202,F,bs,1.0,345.517681
1,1,A,dbd,203,F,bs,1.0,83.636071
2,1,A,dbd,204,F,bs,1.0,86.773452
3,1,A,dbd,205,F,bs,1.0,712.474495
4,1,A,dbd,206,F,bs,1.0,111.019629
...,...,...,...,...,...,...,...,...
79113,199,A,dbs,194,A,dbs,1.0,137.71278
79114,199,A,dbs,195,A,dbs,1.0,570.955821
79115,199,A,dbs,197,A,dbs,1.0,12.00054
79116,199,A,dbs,198,A,dbs,1.0,67.043152
79117,199,A,dbs,199,A,dbs,1.0,0.0

In [6]:
def bind_df_gen(dis_df, buffer_ratio):
    bind_df = pd.DataFrame(columns = ['Protein_Num_1','Protein_Name_1','Cite_Name_1','Protein_Num_2','Protein_Name_2','Cite_Name_2','sigma','dis'])
    index = 0
    for i in range(len(dis_df)):
        if dis_df.loc[i, 'dis'] >= dis_df.loc[i, 'sigma']*(1-buffer_ratio):
            if dis_df.loc[i, 'dis'] <= dis_df.loc[i, 'sigma']*(1+buffer_ratio):
                bind_df.loc[index] = dis_df.loc[i]
                index += 1
    return bind_df

bind_df = bind_df_gen(dis_df, buffer_ratio = 0.01)
bind_df

,Protein_Num_1,Protein_Name_1,Cite_Name_1,Protein_Num_2,Protein_Name_2,Cite_Name_2,sigma,dis
0,4,A,dbd,289,F,bs,1.0,0.999995
1,50,A,dbd,202,F,bs,1.0,1.000168
2,72,A,dbd,299,F,bs,1.0,1.000489
3,80,A,dbd,272,F,bs,1.0,1.000256
4,84,A,dbd,261,F,bs,1.0,0.999956
...,...,...,...,...,...,...,...,...
279,193,A,dbs,138,A,dbs,1.0,0.999877
280,194,A,dbs,168,A,dbs,1.0,1.000503
281,197,A,dbs,133,A,dbs,1.0,1.000205
282,198,A,dbs,158,A,dbs,1.0,0.999666
283,199,A,dbs,11,A,dbs,1.0,1.000871

In [7]:
def find_bond(bind_df):
    bond_lst = []
    for i in range(len(bind_df)):
        bond_lst.append([int(bind_df.loc[i, 'Protein_Num_1']), int(bind_df.loc[i, 'Protein_Num_2'])])
    for i in bond_lst:
        i.sort()
    bond_lst_ = []
    for i in bond_lst:
        if i not in bond_lst_:
            bond_lst_.append(i)
    return bond_lst_

bond_lst = find_bond(bind_df)
print(bond_lst)

[[4, 289], [50, 202], [72, 299], [80, 272], [84, 261], [98, 218], [122, 204], [131, 256], [146, 252], [154, 243], [180, 259], [182, 207], [188, 267], [195, 231], [2, 141], [3, 103], [5, 156], [6, 74], [8, 92], [9, 193], [10, 101], [11, 133], [12, 184], [13, 110], [15, 177], [16, 192], [17, 88], [19, 145], [20, 48], [21, 62], [22, 52], [26, 170], [27, 56], [28, 42], [30, 198], [31, 130], [32, 154], [33, 45], [35, 195], [36, 76], [38, 65], [40, 117], [41, 89], [43, 91], [44, 174], [49, 95], [51, 199], [53, 144], [54, 189], [55, 180], [58, 80], [60, 63], [64, 127], [66, 97], [68, 113], [69, 94], [70, 146], [75, 77], [78, 155], [79, 165], [82, 105], [83, 161], [87, 114], [90, 136], [96, 134], [100, 179], [107, 197], [108, 111], [119, 185], [123, 169], [129, 164], [131, 142], [132, 159], [137, 178], [139, 175], [147, 194], [158, 160], [163, 172], [181, 183], [1, 135], [2, 104], [5, 113], [6, 79], [7, 55], [9, 128], [10, 31], [11, 199], [12, 28], [13, 42], [15, 101], [16, 18], [19, 94], [20, 118], [21, 97], [22, 39], [25, 72], [26, 65], [32, 37], [33, 75], [34, 89], [35, 92], [36, 66], [38, 172], [43, 127], [45, 139], [46, 105], [51, 107], [54, 108], [56, 86], [57, 98], [59, 100], [62, 76], [63, 161], [68, 140], [70, 111], [73, 114], [74, 159], [77, 175], [80, 186], [81, 137], [82, 187], [83, 122], [84, 162], [88, 171], [95, 164], [96, 115], [99, 174], [103, 181], [109, 143], [110, 184], [112, 154], [117, 182], [119, 121], [120, 153], [129, 173], [130, 177], [132, 165], [133, 197], [134, 166], [136, 190], [138, 193], [142, 167], [144, 180], [146, 189], [147, 169], [151, 183], [158, 198], [163, 170], [168, 194]]

In [12]:
def find_complex(pdb_df, bond_lst):
    complex_lst = []
    for i in range(1, 1+pdb_df['Protein_Num'].max()):
        complex_temp = [i]
        j = 0
        while j < len(bond_lst):
            if bond_lst[j][0] in complex_temp and bond_lst[j][1] not in complex_temp:
                complex_temp.append(bond_lst[j][1])
                j = 0
            elif bond_lst[j][1] in complex_temp and bond_lst[j][0] not in complex_temp:
                complex_temp.append(bond_lst[j][0])
                j = 0
            else:
                j += 1
        complex_lst.append(complex_temp)
    for i in complex_lst:
        i.sort()
    complex_lst_ = []
    for i in complex_lst:
        if i not in complex_lst_:
            complex_lst_.append(i)       
    return complex_lst_


complex_lst = find_complex(pdb_df, bond_lst)
print(complex_lst)

[[1, 135], [2, 104, 141], [3, 103, 151, 181, 183], [4, 289], [5, 68, 113, 140, 156], [6, 74, 79, 132, 159, 165], [7, 53, 55, 144, 180, 259], [8, 35, 92, 195, 231], [9, 128, 138, 193], [10, 15, 31, 101, 130, 177], [11, 51, 107, 133, 197, 199], [12, 13, 28, 42, 110, 184], [14], [16, 18, 192], [17, 88, 171], [19, 69, 94, 145], [20, 48, 118], [21, 36, 62, 66, 76, 97], [22, 39, 52], [23], [24], [25, 72, 299], [26, 38, 65, 163, 170, 172], [27, 56, 86], [29], [30, 158, 160, 198], [32, 37, 112, 154, 243], [33, 45, 75, 77, 139, 175], [34, 41, 89], [40, 117, 182, 207], [43, 64, 91, 127], [44, 99, 174], [46, 82, 105, 187], [47], [49, 95, 129, 164, 173], [50, 202], [54, 70, 108, 111, 146, 189, 252], [57, 98, 218], [58, 80, 186, 272], [59, 100, 179], [60, 63, 83, 122, 161, 204], [61], [67], [71], [73, 87, 114], [78, 155], [81, 137, 178], [84, 162, 261], [85], [90, 136, 190], [93], [96, 115, 134, 166], [102], [106], [109, 143], [116], [119, 121, 185], [120, 153], [123, 147, 168, 169, 194], [124], [125], [126], [131, 142, 167, 256], [148], [149], [150], [152], [157], [176], [188, 267], [191], [196], [200], [201], [203], [205], [206], [208], [209], [210], [211], [212], [213], [214], [215], [216], [217], [219], [220], [221], [222], [223], [224], [225], [226], [227], [228], [229], [230], [232], [233], [234], [235], [236], [237], [238], [239], [240], [241], [242], [244], [245], [246], [247], [248], [249], [250], [251], [253], [254], [255], [257], [258], [260], [262], [263], [264], [265], [266], [268], [269], [270], [271], [273], [274], [275], [276], [277], [278], [279], [280], [281], [282], [283], [284], [285], [286], [287], [288], [290], [291], [292], [293], [294], [295], [296], [297], [298]]

In [41]:
def complex_df_gen(pdb_df, complex_lst):
    name_lst = list(pdb_df['Protein_Name'])
    name_lst_ = []
    for i in name_lst:
        if i not in name_lst_:
            name_lst_.append(i)
    column_lst = []
    for i in name_lst_:
        column_lst.append(i)
    column_lst.append('Protein_Num')
    complex_df = pd.DataFrame(columns = column_lst)
    index = 0
    for i in complex_lst:
        complex_df.loc[index] = 0
        complex_df.loc[index,'Protein_Num'] = str(i)
        for j in i:
            for indexs in pdb_df.index: 
                for k in range(len(pdb_df.loc[indexs].values)): 
                    if(pdb_df.loc[indexs].values[k] == j): 
                        col = pdb_df.loc[indexs,'Protein_Name']
                        complex_df.loc[index,col] += 1
                        break
                else:
                    continue
                break
        index += 1 
    return complex_df
    
complex_df_gen(pdb_df, complex_lst)

     A  F              Protein_Num
0    2  0                 [1, 135]
1    3  0            [2, 104, 141]
2    5  0  [3, 103, 151, 181, 183]
3    1  1                 [4, 289]
4    5  0   [5, 68, 113, 140, 156]
..  .. ..                      ...
153  0  1                    [294]
154  0  1                    [295]
155  0  1                    [296]
156  0  1                    [297]
157  0  1                    [298]

[158 rows x 3 columns]